<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :verb, class: "control-label" %>
    <%= select f, :verb, ["get", "post", "put", "delete"], class: "form-control" %>
    <%= error_tag f, :verb %>
  </div>

  <div class="form-group">
    <%= label f, :url, class: "control-label" %>
    <%= text_input f, :url, class: "form-control" %>
    <%= error_tag f, :url %>
  </div>

  <div class="form-group">
    <%= label f, :content_type, class: "control-label" %>
    <%= select f, :content_type, ["application/json", "text/plain"], class: "form-control" %>
    <%= error_tag f, :content_type %>
  </div>

  <div class="form-group">
    <%= label f, :accepted_content_type, class: "control-label" %>
    <%= select f, :accepted_content_type, ["application/json", "text/plain"], class: "form-control" %>
    <%= error_tag f, :accepted_content_type %>
  </div>

  <div class="form-group">
    <%= label f, :body, class: "control-label" %>
    <%= text_input f, :body, class: "form-control" %>
    <%= error_tag f, :body %>
  </div>

  <div class="form-group">
    <%= label f, :query_string, class: "control-label" %>
    <%= text_input f, :query_string, class: "form-control" %>
    <%= error_tag f, :query_string %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
